<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Error</title>

	<style>
		.centered {
			margin: 100px auto;
			width: 50%;
		}
	</style>
</head>
<body>

	<div class="container centered">
		<h1 class="display-4">Something failed</h1>
		<hr>
		<a href="/">Home</a>
	</div>

</body>
</html>